

body{background-color: #20805E;}

#tabs {
	
	background:#00AB6F none; padding:5px;
	}
	.ui-widget-header {
	border:0; background:#FF0000 none; font-family:Georgia;
	}
	#myTabs .ui-widget-content {
	border:1px solid #FF0000; background:#FF0000 none;
	font-size:80%;
	}
	.ui-state-default, .ui-widget-content .ui-state-default {
	background:#FF0000 none; border:1px solid #FF0000;
	}
	.ui-state-active, .ui-widget-content .ui-state-active {
	background:#FF0000 none; border:1px solid #FF0000;
	}


#mainCharts{


    border:2px solid;
    background-color: #F0F8FF;
    width: 90%;
    margin:auto;
    height: 600px;
    border-radius:25px;
    
    
    
}

.tableDivs{
    
    border: 1px solid;
    text-align: center;
    border-radius:15px;
    width: 200px;
    background-color: #00AB6F;
    height:75px;
}


.configDiv{


    border:2px solid;
    background-color: #F0F8FF;
    width: 90%;
    margin:auto;
    height: 200px;
    border-radius:25px;
    display:block;
    
    
    
}

.links{
    
    
    text-align: center;
    margin-right: auto;
    color: #000;
    font-family: sans-serif;
    top: 1em;
    right: 1em;
    position: absolute;
    
}



#loginDiv{
    
    margin: auto;
    font-family: sans-serif;
    margin-right: 0px;
    margin-left: 80%;
    
}


#header{
    
    font-size: 25px;
    
}

#channelTable{
    
    border-spacing: 75px 5px;
    border-collapse: separate;
    
}


label,{
    display:block;
}

fieldset{
    padding:0;
    border:0;
    margin-top:25px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;

}

.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}